@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.td-style {
  @apply px-4 py-3 border border-gray-700 text-gray-300 break-words whitespace-normal;
}

.th-style {
  @apply px-4 py-3 text-gray-200 font-semibold bg-gray-900 border border-gray-700 text-center;
}

.button-edit {
  @apply px-3 py-2.5 text-sm/5 bg-green-800 text-white rounded font-semibold hover:bg-green-900 border;
}

.button-delete {
  @apply px-3 py-2.5 text-sm/5 bg-red-800 text-white rounded font-semibold hover:bg-red-900 border;
}

.input-style {
  @apply px-3 py-2 bg-gray-600 border border-blue-300 rounded-md text-white 
  focus:outline-none focus:ring-2 focus:ring-blue-600 placeholder-gray-200;
}

.label-style {
  @apply block text-base/6 font-medium text-white;
}
